.container {
  position: relative;
  width: min-content;
  height: auto;
}

.value {
  flex-grow: 1;
  font-size: 1.25em;
  color: rgb(41, 47, 47);
  outline: none;
  border: none;
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: 0.05em solid #777;
  border-radius: 0.25em;
  width: 100%;
  left: 0;
  top: calc(100% + 0.05em);
  background-color: white;
  white-space: nowrap;
  z-index: 10;
}

.options.show {
  display: block;
}

.option {
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.option.highlighted {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.option.error {
  color: rgb(255, 0, 0);
}

.option.error:hover {
  color: white;
  background-color: rgb(255, 100, 100);
}
